.experience {
    grid-area: exp;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 2em;
}

.experienceNest {
    max-width: 1200px;
    margin: 0 auto;
}

.experience-cards {
    display: flex;
    flex-direction: column;
}

.experience-card {
    background-color: #f7f7ff;
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    display: flex;
}

.experience-card-left {
    width: 25%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.experience-card-right {
    padding: 1em;
}

.fullTime {
    background-color: #ff9301;
    color: white;
    padding: 3px;
    border-radius: 0.5em;

}

.partTime {
    background-color: grey;
    color: white;
    padding: 3px;
    border-radius: 0.5em;

}